:root{
    --color-black: #000000;
    --color-red:#ff0000;
    --color-blue:#0a2dae;
    --color-lightgrey:#f2f2f2;
    --color-darkgrey:#aaaaa9;
    

    --padding-side:12px;

    --fontsize-large:20px;
    --fontsize-medium:16px;
    --fontsize-small:14px;
    --fontsize-micro:10px;
    --fontsize-face:36px;
}

*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

li{
    list-style:none;
}

button,
button :focus{
    cursor : pointer;
    border : none;
    outline: none;
}

/*header*/
header{
    display : flex;
    justify-content : space-between;
    background: var(--color-black);
    padding:var(--padding-side);
}

header .logo i{
    color:var(--color-red);
    font-size:var(--fontsize-large);
}

header .logo span{
    color: white;
    font-size:var(--fontsize-large);
}

header .icons{
    color:white;
}

/*video*/

.video{
    position:sticky;
    top:0px;
    background-color: var(--color-black);
    text-align:center;
}

.videoplayer{
    max-width:1000px;
    width:100%;
    height:100%;
}

/*info*/

.info{
    padding:var(--padding-side);
    display:flex;
}

.info .videoinformation .hashtag{
    color:var(--color-blue);
    display: flex;
}

.info .videoinformation .hashtag li{
    margin-right:var(--padding-side);
    font-size:var(--fontsize-small);
}

.info .videoinformation .view{
    font-size:var(--fontsize-micro);
    color:var(--color-darkgrey);
}

.info .videoinformation .titleandinfobutton {
    display : flex;
}


.info .videoinformation .titleandinfobutton .title.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.info .videoinformation .titleandinfobutton .title{
    width:100%;
    
}
.info .videoinformation .titleandinfobutton .moreinformation{
    height:100%;
    transition: transform 300ms ease-in-out;
}

.info .videoinformation .titleandinfobutton .moreinformation.clicked{
    transform:rotate(180deg);
}

.actions .actionicons{
    display:flex;
    justify-content: space-around;
    margin-top:var(--padding-side);
    color:#868686;
}

.actions .actionicons li{
    display : flex;
    flex-direction: column;
}

.actions .actionicons li.active{
    color:var(--color-blue);
}

.actions .actionicons li i{
    margin : 0 auto;
    margin-bottom:calc(var(--padding-side)/2);
}

.channel{
    display:flex;
    justify-content: space-between;
    border-top:1px solid var(--color-lightgrey);
    border-bottom:1px solid var(--color-lightgrey);
    margin-top : 20px;
    align-items: center;
}

.channel .face{
    width:var(--fontsize-face);
    height:var(--fontsize-face);
    border-radius:50%;
    margin : var(--padding-side) 0;
    margin-right:calc(var(--padding-side)/2);
}
.channelnameandviews{
    display:flex;
}
.youtuberinfo{
    display:flex;
    flex-direction: column;
    margin-left:calc(var(--padding-side)/2);
    margin: auto 0;
}
.youtuberinfo .subscriber{
    font-size:var(--fontsize-small);
    color:grey;
}
.subscribe{
    color:var(--color-red);
    text-transform: uppercase;
}

/*up next*/
.upnext{
    color:grey;
    margin-left:var(--padding-side);
    font-size:var(--fontsize-small);
}

.nextvideolist li{
    display: flex;
    padding: var(--padding-side);
}

.nextvideolist .thumbnail{
    width:100%;
    height:100%;
}
.nextvideolist .thumblist{
    flex : 1 1 35%;
    margin-right:var(--padding-side)
}

.nextvideolist .nextvideostitles{
    flex : 1 1 65%;
}

.nextvideolist .moreinfobtn{
    flex : 1 1 5%;
}

.nextvideolist .nextvideostitles {
    display : flex;
    flex-direction: column;
}

.nextvideostitles .nextvideomaintitle{
    font-size:var(--fontsize-medium);
}
.nextvideostitles .nextvideocreater{
    color:var(--color-grey);
    font-size:var(--fontsize-small);
}

.nextvideostitles .nextvideoviews{
    color:var(--color-grey);
    font-size : var(--fontsize-micro);
}

.nextvideolist button{
    height:100%;
    background-color: white;
}
@media screen and (min-width:768px)
{
    .infoandupnext{
        display:flex;
        flex-direction:row;
    }
    .upnextsection{
        margin-top:var(--padding-side)
    }
}